@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

#header-logo {
  background-image: url('./logo.png');
  width: 143px;
  height: 40px;
}
